/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background:#fff9ed
}

h1 {
  font: 40px/1 'Notable', sans-serif;
  margin: 1rem;
  font-style: italic;
  color: #fad4ed;
  text-align: center;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.layout{
  padding:20px;
  display:flex
}
.button {
  background-color: pink;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: transform .2s; /* Animation */
}
.button:hover {
  transform: scale(1.5);
}

#recipe {
  display: flex;
  justify-content:space-around;

}

.AvocadoToast{
    position: absolute;
    
  
}

  


.Ingredient{
  flex:50%;
}
table {
  flex:50%;
  background-color:#fff3f2;
  color:#e35246;
  border-collapse: collapse;
  width: 100%;
  border-radius:20px
}

td, th {
  border: none;
  text-align: center;
  padding: 18px;
}
td{
  padding:30px
}

tr:nth-child(even) {
  background-color: #ffffff;
   
}